html {
  height: 100%;
}
body {
  height: 90%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
h1 {
  text-align: center;
}
.code {
  font-family: "Ubuntu Mono", monospace;
}
.cmake-compiling {
  color: lightgreen;
}
.msg {
  color: white;
}
.building-window {
  background-image: linear-gradient(0deg, #000000, #777777);
  height: 85%;
  padding: 10px;
  overflow: auto;
  border-radius: 1em;
}
.footer {
  width: 40%;
  margin: auto;
  text-align: center;
}
